<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
    <script src="./vue-resource.js"></script>
</head>
<body>
    <div id="app">
        <div class="username">
            <input type="text" placeholder="用户名" v-model='name'>
        </div>
        <div class="mail">
            <input type="text" placeholder="邮箱" v-model='mail'>
        </div>
        <div class="upload-btn" @click='upload'>上传</div>
        <div class="test-btn" @click='testJsonp'>测试jsonp</div>
        <div class="show-btn" @click='renderMsg'>显示人物信息</div>
        <ul class="person-list">
            <li class="person" v-for="person in personList">
                <span>{{ person.name }}</span>
                <span>{{ person.mail }}</span>
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                name:'',
                mail:'',
                msg:'',
                personList:[]
            },
            methods:{
                upload(){
                    this.$http.post('https://developer.duyiedu.com/vue/setUserInfo',{
                        name:vm.name,
                        mail:vm.mail
                    }).then(success=>{
                        console.log(success)
                        this.msg = success.body.msg
                    }).catch(error=>{
                        console.log(error)
                        this.msg = error.body.msg
                    })
                },
                testJsonp(){
                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                        params:{
                            wd:'张禹林'
                        },
                        jsonp:"cb"
                    }).then(success=>{
                        alert("查看控制台信息！")
                        console.log(success)
                    })
                },
                renderMsg(){
                    this.$http.get('https://developer.duyiedu.com/vue/getUserInfo').then(success=>{
                        console.log(success);
                        this.msg = success.body.msg;
                        this.personList = success.body.data
                    })
                }
            },
            watch:{
                msg(){
                    if(this.msg === ""){
                        return
                    }
                    alert(this.msg);
                    this.msg = ""
                }
            }
        })
    </script>
</body>
</html>